services:
  blocklists:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blocklists
    stdin_open: true
    tty: true
    volumes:
      - ./appdata:/app:rw
    environment:
      - GIT_USER_NAME=soyelmismo
      - GIT_USER_EMAIL=email@domain.rld
      - GIT_TOKEN=mylongasstoken
      - GIT_REPO_NAME=mydnsFilters
      - CRON_MINUTES=0
      - CRON_HOURS=12
    entrypoint: ["/bin/bash"]
    command: ["/app/entrypoint.sh"]
    restart: unless-stopped
